:root{
  --grayblue: #314757;
  --greenblue: #4fc4ab;
  --darkblue: #5735bd;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
}

.navbar, .footer{
  display: flex;
  background-color: var(--grayblue);
}

#navbar-name{
  margin-left: 10vw;
  width: 50%;
  color: white;
  font-size: 28px;
}

.nav-links{
  display: flex;
  justify-content: flex-end;
  margin-right: 10vw;
  color: white;
  width: 50%;
  font-size: 18px;
}

.nav-menu{
  display: flex;
  justify-content: flex-end;
  width: 40%;
  color: white;
}

#menu-button{
  align-self: center;
}

.nav-item{
  align-self: center;
  color: white;
  text-decoration: none;
  padding: 0px 15px 0px 15px;
}

.nav-item:hover{
  color: var(--greenblue);
}

#main-header, #about, #projects, #contact{
  padding: 3vw 0vw 3vw 0vw;
}

#main-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--greenblue);
  color: white;
  text-align: center;
}

#header-image{
  width: 15vw;
  margin: 0vw 0vw -1vw 0vw;
}

#header-name{
  margin: 2vw 0vw .5vw 0vw;
}

hr{
  border: 2px solid white;
}

#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: var(--grayblue);
}

.about-icons{
  display: flex;
  margin-top: 2vw;
}

.about-icon-item{
  margin: 2vw 4vw 0px 4vw;
}

#passionate-icon{
  padding-left: 15px;
}

#creative-text{
  padding-left: 10px;
}

#diligent-text{
  padding-left: 5px;
}

.about-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vw;
}

#about-main{
  width: 25vw;
  font-family: 'Lato', sans-serif;
}

#about-side{
  display: flex;
  padding-right: 2vw;
  justify-content: flex-end;
}

#projects{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--greenblue);
  color: white;
}

.project-container{
  display: flex;
  flex-direction: row;
}

.project-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grayblue);
  width: 22vw;
  height: 40vh;
  background-size: 22vw 40vh;
}

.project-title{
  background-color: black;
  padding: 1vh 1vw 1vh 1vw;
  margin-bottom: -15px;
  width: 75%;
  text-align: center;
}

.project-description{
  background-color: black;
  text-align: center;
  width: 75%;
  padding: 1vh 1vw 1vh 1vw;
  font-family: 'Lato', sans-serif;
}

#pc-component-proj{
  background-image: url("../images/code-image.png");
  background-repeat: no-repeat;
}

#vr-proj{
  background-image: url("../images/laser-arena-screenshot.png");
  background-repeat: no-repeat;
}

#contact{
  display: flex;
  justify-content: center;
  background-color: white;
  color: var(--grayblue);
}

.section-title{
  font-size: 55px;
}

.footer{
  color: white;
}

/* minimum screen size */
@media screen and (min-width: 320px) {
  hr{
    width: 40%;
  }
  #navbar-name {
    margin-left: 5vw;
    font-size: calc(16px + 16 * ((100vw - 320px) / 680));
  }
  .nav-links {
    display: none;
    font-size: calc(12px + 12 * ((100vw - 320px) / 680));
  }
  .nav-menu{
    display: flex;
  }
  .section-title{
    font-size: calc(30px + 25 * ((100vw - 320px) / 680));
  }
  #header-image{
    width: 25vw;
    margin: 0vw 0vw -1vw 0vw;
  }
  #header-text{
    font-size: calc(14px + 4 * ((100vw - 320px) / 680));
  }
  .about-icons{
    flex-direction: column;
    margin: auto;
  }
  .about-icon-item{
    margin: 2vw 5vw 0px 5vw;
    width: 25vw;
  }
  .about-content{
    flex-direction: column;
  }
  #about-main{
    width: 50vw;
    font-size: calc(16px + 2 * ((100vw - 320px) / 680));
  }
  #about-side{
    width: 45vw;
    font-size: calc(18px + 7 * ((100vw - 320px) / 680));
    text-align: left;
  }
  .project-container{
    flex-direction: column;
  }
  .project-title{
    font-size: calc(20px + 6 * ((100vw - 320px) / 680));
  }
  .project-item{
    width: 100%;
    height: 75vw;
    background-size: 100% 75vw;
  }
  .project-description{
    font-size: calc(16px + 4 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 600px) {
  hr{
    width: 30%;
  }
  #header-image{
    width: 20vw;
  }
  .about-icons{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10vw;
  }
  .about-icon-item{
    margin: 2vw 5vw 0px 5vw;
    width: 25vw;
  }
  .project-item{
    width: 40vw;
    height: 50vh;
    background-size: 40vw 50vh;
  }
}
@media only screen and (min-width: 700px) {
  .project-container{
    flex-direction: column;
  }
  .project-item{
    width: 50vw;
    height: 60vh;
    background-size: 50vw 60vh;
  }
}
/* maximum screen size */
@media screen and (min-width: 1000px) {
  hr{
    width: 20%;
  }
  #navbar-name {
    margin-left: 10vw;
    font-size: 32px;
  }
  .nav-links{
    display: flex;
    font-size: 20px;
  }
  .nav-menu{
    display: none;
  }
  .section-title{
    font-size: 55px;
  }
  #header-image{
    width: 15vw;
    margin: 0vw 0vw -1vw 0vw;
  }
  #header-text{
    font-size: 18px;
  }
  .about-icons{
    flex-direction: row;
    margin: auto;
  }
  .about-icon-item{
    margin: 2vw 4vw 0px 4vw;
    width: 7vw;
  }
  .about-content{
    flex-direction: row;
  }
  #about-main{
    width: 20vw;
    font-size: 18px;
  }
  #about-side{
    width: 20vw;
    font-size: 35px;
    text-align: right;
  }
  .project-container{
    flex-direction: row;
  }
  .project-title{
    font-size: 26px;
  }
  .project-item{
    width: 22vw;
    height: 40vh;
    background-size: 22vw 40vh;
  }
  .project-description{
    font-size: 20px;
  }
}
